
/*-------------------------------- Desktop--------------------------------- */

 @media (min-width:1024px) {
 #first{
padding-left: 35%;
padding-right: 35%;
 }
 .bg-image_dark{
    background: url('/assets/images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image_light{
    background: url('/assets/images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#last{
    padding-top: 5%;
    padding-bottom: 12%;
}
} 